doctype html
html
  head
    title Impossible Fold &amp; Cut Font
    script(type="text/javascript", src="node_modules/@svgdotjs/svg.js/dist/svg.min.js")
    script(type="text/javascript", src="node_modules/furls/furls.js")
    script(type="text/javascript", src="node_modules/font-webapp/font-webapp.js")
    script(type="text/javascript", src="font.js")
    script(type="text/javascript", src="index.js")
    style
      :stylus
        @media print
          .noprint
            display: none

        .w-100
          width: 100%
        textarea
          vertical-align: middle

        svg
          width: 100%
          height: 100%
        .font-solved svg .puzzle
          display: none
        .font-puzzle svg .solution
          display: none
    //#include virtual="../../analytics.html"
  body
    table.w-100
      tr
        td(style="text-align: left; vertical-align: middle;")
          h1 Orthogonal Fold &amp; Cut Font
        td(style="text-align: right; vertical-align: middle;")
          h2 by Joshua Ani, Josh Brunner, <a href="https://erikdemaine.org/">Erik Demaine</a>, <a href="http://martindemaine.org">Martin Demaine</a>, Dylan Hendrickson, Victor Luo, and Rachana Madhukara, 2022

    table#data.noprint.w-100
      tr
        td
          label(for="text") Enter text to render:
          | &nbsp;
          textarea#text(name="text", rows=4, cols=40) text
        td
          input#solved(name="font", value="solved", type="radio", checked)
          label(for="solved") Solved font (all cuts)
          br
          input#puzzle(name="font", value="puzzle", type="radio")
          label(for="puzzle") Puzzle font (one cut)

    p

    #output.w-100
      svg#svg
        include font-inline.svg

    .noprint(style="text-align: right")
      button#simulate Simulate in Origami Simulator
      button#downloadSim Download Crease Pattern for Origami Simulator
      button#downloadSVG Download SVG

    hr.noprint

    p.noprint.
      This typeface illustrates how to make each letter of the alphabet
      by taking a <b>square piece of paper</b>,
      making a set of <b>orthogonal folds</b>
      (all perpendicular or parallel to each other),
      and <b>cutting along one complete straight line</b>.
      It is inspired by the
      <a href="//erikdemaine.org/foldcut/">Fold-and-Cut Theorem</a>,
      in particular
      <a>our paper about orthogonal fold &amp; cut</a>.
      See also
      <a href="../simplefoldcut">our simple fold &amp; cut font</a>,
      and nonsimple fold &amp; cut fonts by
      <A HREF="http://www.takayaiwamoto.com/Onecut_Origami/onecut_origami.html">Takaya Iwamoto</A> and
      <A HREF="http://wowlab-blueprints.mcgill.ca/en/projectpage.php?id=onecut">McGill's Wow Lab</A>.

    p.noprint.
      There are two font variations for you to play with.
      &bull;
      In the default &ldquo;<b>Solved font</b>&rdquo;, you see the full
      crease pattern and resulting cut lines which reveal the letter.
      In the &ldquo;<b>Puzzle font</b>&rdquo;, all but one of the cut lines
      is hidden; the letter is revealed by folding and cutting along the
      extension of that green segment.

    p.noprint.
      If you'd like to see <b>animations</b> of the folding process,
      try the "Simulate in Origami Simulator" button.
      (This currently works best with just a single letter,
      and with letters that have no holes.)

    p.noprint
      | Here are printable PDFs for all the letters:
      span#links
      | Red lines are mountain folds; blue lines are valley folds;
      | and green lines are cuts.

    p.noprint.
      Check out <a href="https://erikdemaine.org/fonts/">other mathematical and
      puzzle fonts</a>. &bull; Feedback or not working?
      <a href="mailto:edemaine+fonts@mit.edu">Email Erik</a>. &bull;
      <a href="https://github.com/edemaine/font-orthofoldcut">Source code on GitHub</a>.
